<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=apbiphdb23;Initial Catalog=PDAUS;Persist Security Info=True;User ID=saa;Password=P@ssw0rd; MultipleActiveResultSets=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
